<div class="draft-container">
  <div class="drafts-sections">
    <div class="drafts-title">Update Transaction Details</div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <mat-card>
          <div class="form-row">
            <div class="col-md-2 mb-3">
              <label for="trnsType">Role</label>
              <select class="form-control" id="trnsType" [(ngModel)]="transType" [value]="0">
                <option value="0" selected>All</option>
                <option *ngFor="let type of transTypeArr">{{type}}</option>
              </select>
            </div>
            <div class="col-md-4 mb-3">
              <label for="trnNo">Transaction No.</label>
              <input class="form-control" id="trnNo" type="text" placeholder="Search Transaction No."
                [(ngModel)]="trnsNo">
              <!-- <select class="form-control" id="sel1" [(ngModel)]="status" [value]="0">
                  <option value="0">All</option>
                  <option *ngFor="let stat of distinct">{{stat}}</option>
                </select> -->
            </div>
            <div class="col-md-4 mb-3">
              <label class="col-12 no_pad float-left">Period</label>
              <div class="float-left d-flex">
                <div class="no_pad float-left cust-cal">
                  <input matInput [matDatepicker]="picker" placeholder="DD/MM/YYYY" [(ngModel)]="startDate"
                    (click)="picker.open()">
                  <mat-datepicker-toggle class="icon-area" matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </div>
                <span class="float-left pad-5">to</span>
                <div class="no_pad float-left cust-cal">
                  <input matInput [matDatepicker]="picker2" placeholder="DD/MM/YYYY" [(ngModel)]="endDate"
                    (click)="picker2.open()">
                  <mat-datepicker-toggle matSuffix class="icon-area" [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </div>
              </div>


            </div>
            <button type="button" class="btn custom-btn nxt-btn ml-4"
            (click)="filterDate(startDate, endDate); showTransaction = true">Search</button>
          </div>

          <!-- <div class="form-row">
            <div class="col-md-12 mb-3 btn-block pull-right">
             
            </div>
          </div> -->
        </mat-card>
      </div>
    </div>


  </div>

  <div class="enquireTransactionList cust-table mt-3" *ngIf="showTransaction">
    <label><b>Showing all {{role}} transactions </b> - </label><span> ({{dateStart}} to {{dateTo}})</span>
    <!-- <ag-grid-angular 
      style="width: 100%;
      height: 250px;" 
      class="ag-theme-material"
      [rowData]="rowData" 
      [columnDefs]="columnDefs"
      >
  </ag-grid-angular> -->
    <table style="width:100%">
      <thead>
        <tr class="bg_th">

          <th>Date & Time</th>
          <th>Actions</th>
          <th>User</th>

        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="let person of transactions | filter : peopleFilter  | filter : transType | filter : trnsNo | filter: retArray ">
          <!-- | filter : peopleFilter  | filter : transType | filter : status | filter: retArray" -->

          <td>{{person.date}}</td>
          <td>{{person.actions}}</td>
          <td>{{person.verifier}}</td>

        </tr>
      </tbody>


    </table>
  </div>
  <div class="float-right mt-2" *ngIf="showTransaction">
    <button class="fa fa-angle-double-left float-left pagination-btns border-rght mt-1"></button>
    <button class="fa fa-angle-left float-left pagination-btns mt-1"></button>
    <span class="float-left pagination-text ml-2 mt-1"><b>Page</b></span>
    <input type="text" class="float-left pagination-textbox ml-2" value="1" />
    <span class="float-left pagination-text ml-2 mt-1"><b>of 10</b></span>
    <button class="float-left go-btn ml-2">Go</button>
    <button class="fa fa-angle-right float-left pagination-btns ml-2 mt-1"></button>
    <button class="fa fa-angle-double-right float-left pagination-btns border-lft mt-1"></button>
    
  </div>
</div>