.drafts-title {
  font-family: Arial;
  font-style: normal;
  font-size: 28px;
  color: #4f8208;
}

.drafts-sections {
  margin-top: 7px;
}
.tag {
  font-weight: bold;
}
.p-txt {
  font-size: 18px;
}
.p-txt i {
  font-size: 16px;
}
.form-label,
label {
  font-weight: bold;
  font-size: 16px;
  font-family: Arial;
}
.note {
  font-size: 17px;
  border: 1.5px solid #caf7ff;
  padding: 20px 15px;
  background: #ecfcff;
  color: #0066ff;
  font-weight: 400;
}
.label-data.font-14 label,
.label-data.font-14 select,
.label-data.font-14 textarea {
  font-size: 14px !important;
}
.success {
  background: green;
  color: white;
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
}
.back {
  background: #424141;
  color: white;
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
}
.txt-success {
  font-size: 17px;
  border: 1.5px solid #cfffaa;
  padding: 10px 15px;
  background: #e0fad3;
  color: green;
  font-weight: 400;
}
.bg_th {
  background: #58575766;
}
.p-txt.font-16 {
  font-size: 16px;
}
.link {
  color: #0083f3;
  text-decoration: underline;
  cursor: pointer;
}