<div class="draft-container" style="margin-top: 26px;"> 
  
  <div class="drafts-sections">
    <div class="drafts-title" style="color:#000">
        <span [ngClass]="showMyTransaction? 'highlight-transaction':''"  (click)="showMyTransactions()">My Transactions</span> | 
        <span [ngClass]="showTeamTransaction? 'highlight-transaction':''" (click)="showTeamTransactions()">Team Transactions</span></div>
    <hr>  
  </div>
  <div class="drafts-sections" *ngIf="showMyTransaction">
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
       
        <div class="card-deck">
            <div class="card status-box" [ngClass]="showRecentTransaction? 'selectedBox':'nonSelectedBox'" (click)="showRecent()">
              
                
                <p class="card-text">
                    <span style="margin-left: 16px;font-size: 28px;">56</span>
                    <span style="float: right;margin-right: 73px; margin-top: 11px;">Recent</span>
                </p>
            </div>
            <div class="card status-box" [ngClass]="showRetrunTransaction? 'selectedBox':'nonSelectedBox'" (click)="showReturn()">
                 
                <p class="card-text">
                    <span style="margin-left: 16px;font-size: 28px;">2</span>
                    <span style="float: right;margin-right: 73px; margin-top: 11px;">Returned</span>
                </p>
               
             
            </div>
            <div class="card status-box" [ngClass]="showRejectTransaction? 'selectedBox':'nonSelectedBox'" (click)="showReject()">
                 
                    <p class="card-text">
                        <span style="margin-left: 16px;font-size: 28px;">2</span>
                        <span style="float: right;margin-right: 73px; margin-top: 11px;">Rejected</span>
                    </p>
                
              </div>
              <div class="card status-box" [ngClass]="showPendingTransaction? 'selectedBox':'nonSelectedBox'" (click)="showPendingApproval()">
                 
                    <p class="card-text">
                        <span style="margin-left: 16px;font-size: 28px;">2</span>
                        <span style="float: right;margin-right: 26px; margin-top: 11px;">Pending Approval</span>
                    </p>
                 
                </div>
        </div>
        
        
      
    </div>
  </div>
  


<hr>

<div class="recent" *ngIf="showRecentTransaction">
<div class="card" style="height:39px">
    <div class="card-body">
      <span>This Month</span>
      <div class="hyphen">
            <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="window-minimize"
             class="svg-inline--fa fa-window-minimize fa-w-16 ICON" role="img"
             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" (click)="minimize()">
             <path fill="currentColor"
             d="M480 480H32c-17.7 0-32-14.3-32-32s14.3-32 32-32h448c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
            </path></svg>
        </div>
    </div>
    

  </div>

  <ng-container *ngIf="show">
<div class="enquireTransactionList" >
    
<ag-grid-angular 
    style="width: 100%;
    height: 250px;" 
    class="ag-theme-material"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    >
</ag-grid-angular>
</div>
</ng-container>

<div class="card CARD" style="height:39px">
        <div class="card-body">
          <span>Last 2 Months</span>
          <div class="hyphen">
                <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="window-minimize"
                 class="svg-inline--fa fa-window-minimize fa-w-16 ICON" role="img"
                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" (click)="minimize1()">
                 <path fill="currentColor"
                 d="M480 480H32c-17.7 0-32-14.3-32-32s14.3-32 32-32h448c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                </path></svg>
            </div>
        </div>
        
    
      </div>
    
      <ng-container *ngIf="show1">
    <div class="enquireTransactionList" >
        
    <ag-grid-angular 
        style="width: 100%;
        height: 250px;" 
        class="ag-theme-material"
        [rowData]="rowData" 
        [columnDefs]="columnDefs"
        >
    </ag-grid-angular>
    </div>
    </ng-container>

    <div class="trans-text">This is an overview of transactions for the past 3 months. Access older records from <a href="javascript:void(0)"> Enquire Transaction Records</a></div>
</div>


<div class="return" *ngIf="showRetrunTransaction">
            <div *ngIf="showNormalTransaction">
            <div class="drafts-sections">
                <div class="trans-title">
                        <div style="
                        float: left;
                        margin-right: 15px;margin-bottom: 10px;
                    ">1. </div><div style="
                        float: left;
                    ">Transaction No: CAYEUPD13443</div><div style="
                        float: right;
                    ">23 Jun 2019, 09:30AM</div>

                </div>
                
                <div class="table-details">
                <div class="table-responsive recent-eSubmit">
                  <table class="table table-striped submission-table" >
                    <thead>
                      <tr class="recent-eSubmit-header">
                        <th>Transaction Date</th>
                        <th>Transaction Type</th>
                        <th>Preparer</th>
                        <th>Verifier</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>22 Jun 2019, 10:46AM</td>
                        <td>Update Important Notes: CAYECON</td>
                        <td>Justina Ram</td>
                        <td>Ivy</td>
                        
                      </tr>
                      
                      
                    </tbody>
                  </table>
                </div>
                <div class="trans-title">Reason:</div>
                <div class="trans-text" style="margin-top:0px">Lorem Ipsum dolor sit amet,Lorem Ipsum dolor sit amet,Lorem Ipsum dolor sit amet</div>
                <div _ngcontent-nyn-c3="" class="BUTTON"><button _ngcontent-nyn-c3="" class="btn btn-secondary btn-sm BUT" style="border: none;
                    border-radius: 0;" type="button" (click)="cancelTransaction()">Cancel Transaction</button><button _ngcontent-nyn-c3="" class="btn btn-primary btn-sm BUT1" type="button">Edit</button></div>
                    <hr style="border-top: 3px solid #25803a;">
                </div>
                </div>
            

                <div class="drafts-sections">
                        <div class="trans-title">
                                <div style="
                                float: left;
                                margin-right: 15px;margin-bottom: 10px;
                            ">1. </div><div style="
                                float: left;
                            ">Transaction No: CAYEUPD13443</div><div style="
                                float: right;
                            ">23 Jun 2019, 09:30AM</div>
        
                        </div>
                        
                        <div class="table-details">
                        <div class="table-responsive recent-eSubmit">
                          <table class="table table-striped submission-table" >
                            <thead>
                              <tr class="recent-eSubmit-header">
                                <th>Transaction Date</th>
                                <th>Transaction Type</th>
                                <th>Preparer</th>
                                <th>Verifier</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>22 Jun 2019, 10:46AM</td>
                                <td>Update Important Notes: CAYECON</td>
                                <td>Justina Ram</td>
                                <td>Ivy</td>
                                
                              </tr>
                              
                              
                            </tbody>
                          </table>
                        </div>
                        <div class="trans-title">Reason:</div>
                        <div class="trans-text" style="margin-top:0px">Lorem Ipsum dolor sit amet,Lorem Ipsum dolor sit amet,Lorem Ipsum dolor sit amet</div>
                        <div _ngcontent-nyn-c3="" class="BUTTON"><button _ngcontent-nyn-c3="" class="btn btn-secondary btn-sm BUT" style="border: none;
                            border-radius: 0;" (click)="cancelTransaction()" type="button">Cancel Transaction</button><button _ngcontent-nyn-c3="" class="btn btn-primary btn-sm BUT1" type="button">Edit</button></div>
                            <hr style="border-top: 3px solid #25803a;">
                        </div>
                        </div>
                    </div>

                        <div class="drafts-sections" *ngIf="showCancelTransaction">
                                <div class="trans-title">
                                        <div style="
                                        float: left;
                                        margin-right: 15px;margin-bottom: 10px;
                                    ">1. </div><div style="
                                        float: left;
                                    ">Transaction No: CAYEUPD13443</div><div style="
                                        float: right;
                                    ">23 Jun 2019, 09:30AM</div>
                
                                </div>
                                
                                <div class="table-details">
                                <div class="table-responsive recent-eSubmit">
                                  <table class="table table-striped submission-table" >
                                    <thead>
                                      <tr class="recent-eSubmit-header">
                                        <th>Transaction Date</th>
                                        <th>Transaction Type</th>
                                        <th>Preparer</th>
                                        <th>Verifier</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>22 Jun 2019, 10:46AM</td>
                                        <td>Update Important Notes: CAYECON</td>
                                        <td>Justina Ram</td>
                                        <td>Ivy</td>
                                        
                                      </tr>
                                      
                                      
                                    </tbody>
                                  </table>
                                </div>
                                <div class="trans-title">Reason:</div>
                                <div class="trans-text" style="margin-top:0px">Lorem Ipsum dolor sit amet,Lorem Ipsum dolor sit amet,Lorem Ipsum dolor sit amet</div>
                                <div _ngcontent-nyn-c3="" class="BUTTON"><button _ngcontent-nyn-c3="" class="btn btn-secondary btn-sm BUT" style="border: none;
                                    border-radius: 0;" type="button">Cancel Transaction</button><button _ngcontent-nyn-c3="" class="btn btn-primary btn-sm BUT1" type="button">Edit</button></div>
                                    <hr style="border-top: 3px solid #25803a;">
                                </div>
                                </div>

                
        </div>

        <div class="reject" *ngIf="showRejectTransaction">
                
                <div class="drafts-sections" *ngIf="showNormalRejectTransaction">
                    <div class="trans-title">
                            <div style="
                            float: left;
                            margin-right: 15px;margin-bottom: 10px;
                        ">1. </div><div style="
                            float: left;
                        ">Transaction No: CAYEUPD13443</div><div style="
                            float: right;
                        ">23 Jun 2019, 09:30AM</div>
    
                    </div>
                    
                    <div class="table-details">
                    <div class="table-responsive recent-eSubmit">
                      <table class="table table-striped submission-table" >
                        <thead>
                          <tr class="recent-eSubmit-header">
                            <th>Transaction Date</th>
                            <th>Transaction Type</th>
                            <th>Preparer</th>
                            <th>Verifier</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>22 Jun 2019, 10:46AM</td>
                            <td>Update Important Notes: CAYECON</td>
                            <td>Justina Ram</td>
                            <td>Ivy</td>
                            
                          </tr>
                          
                          
                        </tbody>
                      </table>
                    </div>
                    <div class="trans-title">Reason:</div>
                    <div class="trans-text" style="margin-top:0px">Lorem Ipsum dolor sit amet,Lorem Ipsum dolor sit amet,Lorem Ipsum dolor sit amet</div>
                    <div _ngcontent-nyn-c3="" class="BUTTON"><button _ngcontent-nyn-c3="" class="btn btn-secondary btn-sm BUT" style="border: none;
                        border-radius: 0;" type="button" (click)="closeTransaction()">Close</button></div>
                        <hr style="border-top: 3px solid #25803a;">
                    </div>
                    
                </div>
                <div class="drafts-sections" *ngIf="showCloseRejectTransaction">
                    You have no Rejected transaction records.
                </div>
                </div>

                <div class="pending" *ngIf="showPendingTransaction">
                        <div class="drafts-sections">
                                <div class="trans-title">
                                        <div style="
                                        float: left;
                                        margin-right: 15px;margin-bottom: 10px;
                                    ">1. </div><div style="
                                        float: left;
                                    ">Transaction No: CAYEUPD13443</div><div style="
                                        float: right;
                                    ">23 Jun 2019, 09:30AM</div>
                
                                </div>
                                
                                <div class="table-details">
                                <div class="table-responsive recent-eSubmit">
                                  <table class="table table-striped submission-table" >
                                    <thead>
                                      <tr class="recent-eSubmit-header">
                                        <th>Transaction Date</th>
                                        <th>Transaction Type</th>
                                        <th>Preparer</th>
                                        <th>Verifier</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>22 Jun 2019, 10:46AM</td>
                                        <td>Update Important Notes: CAYECON</td>
                                        <td>Justina Ram</td>
                                        <td>Ivy</td>
                                        
                                      </tr>
                                      
                                      
                                    </tbody>
                                  </table>
                                </div>
                                <div class="trans-title">Reason:</div>
                                <div class="trans-text" style="margin-top:0px">Lorem Ipsum dolor sit amet,Lorem Ipsum dolor sit amet,Lorem Ipsum dolor sit amet</div>
                                <div _ngcontent-nyn-c3="" class="BUTTON">
                                    <button *ngIf="markAsHigh" _ngcontent-nyn-c3="" class="btn btn-secondary btn-sm BUT" style="border: none;
                                    border-radius: 0;background-color: #ec1634;" type="button" (click)="markHigh()">Mark as High Importance</button>
                                    <div *ngIf="markAsNormal">
                                    <button _ngcontent-nyn-c3="" class="btn btn-secondary btn-sm BUT" style="border: none;
                                    border-radius: 0;" type="button" (click)="markNormal()">Mark as Normal</button>
                                        <div style="float: right;font-size: 14.5px;background-color: #efd3d3;padding-top: 9px;padding-bottom: 9px;margin-right: 19px;padding-left: 5px;">You have marked this transaction as High Importance. Please approach your verifier directly if you wish to expedite.</div>
                                    </div>
                                </div>
                                    <hr style="border-top: 3px solid #25803a;">
                                </div>
                                </div>
                            
                
                                <div class="drafts-sections">
                                        <div class="trans-title">
                                                <div style="
                                                float: left;
                                                margin-right: 15px;margin-bottom: 10px;
                                            ">1. </div><div style="
                                                float: left;
                                            ">Transaction No: CAYEUPD13443</div><div style="
                                                float: right;
                                            ">23 Jun 2019, 09:30AM</div>
                        
                                        </div>
                                        
                                        <div class="table-details">
                                        <div class="table-responsive recent-eSubmit">
                                          <table class="table table-striped submission-table" >
                                            <thead>
                                              <tr class="recent-eSubmit-header">
                                                <th>Transaction Date</th>
                                                <th>Transaction Type</th>
                                                <th>Preparer</th>
                                                <th>Verifier</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td>22 Jun 2019, 10:46AM</td>
                                                <td>Update Important Notes: CAYECON</td>
                                                <td>Justina Ram</td>
                                                <td>Ivy</td>
                                                
                                              </tr>
                                              
                                              
                                            </tbody>
                                          </table>
                                        </div>
                                        <div class="trans-title">Reason:</div>
                                        <div class="trans-text" style="margin-top:0px">Lorem Ipsum dolor sit amet,Lorem Ipsum dolor sit amet,Lorem Ipsum dolor sit amet</div>
                                        <div _ngcontent-nyn-c3="" class="BUTTON"><button _ngcontent-nyn-c3="" class="btn btn-secondary btn-sm BUT" style="border: none;
                                            border-radius: 0;background-color: #ec1634;" (click)="cancelTransaction()" type="button">Mark as High Importance</button></div>
                                            <hr style="border-top: 3px solid #25803a;">
                                        </div>
                                        </div>
                </div>
            </div>

            <div class="drafts-sections" *ngIf="showTeamTransaction">
                <div class="drafts-title" style="color:#000">This page shows you an overview of your overview transactions based on the filter selected.</div>
                 
                <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <mat-card>
                      <div class="form-row">
                          <div class="col-md-4 mb-3">
                            <label for="validationTooltip03">Team</label>
                            <select class="form-control" id="sel1">
                                <option>All</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                              </select>
                          </div>
                            <div class="col-md-4 mb-3">
                              <label for="validationTooltip04">Preparer</label>
                              <select class="form-control" id="sel1">
                                  <option>All</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                </select>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationTooltip04">Period</label>
                                
                                <div class="input-group">
                                    <select class="form-control" id="sel1">
                                        <option>Aug 2018</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                      </select>
                                    <span class="input-group-addon">to</span>
                                    <select class="form-control" id="sel1">
                                        <option>Oct 2018</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                      </select>
                                </div>
                              </div>
                              
                      </div>
                      
                      <div class="form-row">
                          <div class="col-md-4 mb-3">
                            <label for="validationTooltip03">Status</label>
                            <select class="form-control" id="sel1">
                                <option>All</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                              </select>
                          </div>
                           
                            <div class="col-md-8 mb-3 btn-block pull-right" >
                                <button type="button" class="btn custom-btn nxt-btn" (click)="showTransactionDetails($event)">Search</button>
                            </div>
                        </div>
                  </mat-card>
                </div>
              </div>
              
            
            </div>
            
            <div class="enquireTransactionList" *ngIf="showTransaction">
                
            <ag-grid-angular 
                style="width: 100%;
                height: 250px;" 
                class="ag-theme-material"
                [rowData]="rowData" 
                [columnDefs]="columnDefs"
                >
            </ag-grid-angular>
            <div class="trans-text">If you wish to view a particular transaction details, go to <a href="javascript:void(0)"> Enquire Transaction Records</a></div>
            </div>

</div>

