<div class="container">
    <div class="cpf-container">
        <div class="row min-vh-100">
            <aside class="col-12 col-md-2 p-0 left-bar">

                <div class="left-header">
                    CAYE Admin Portal
                </div>

                <div class="left-user-details">
                    <div style="float:left;"><i class="fa fa-user-circle fa-fw"></i> </div>
                    <div style="float:left;line-height: 17px;margin-left: 5px;">
                        <div style="font-size:14px;"> Welcome,</div>
                        <div style="font-size:18px;">User <b class="caret"></b></div>
                        <div style="font-size:12px;color: #9a9191;"> Preparer</div>
                    </div>
                </div>

                <!-- <nav class="navbar navbar-expand navbar-dark  flex-md-column flex-row align-items-start py-2">
                
            <div class="collapse navbar-collapse">
                <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                    <li class="nav-item">
                        <a class="nav-link pl-0" href="#"><i class="fas fa-mountain"></i> <span>Dashboard</span></a>
                    </li>
                    <li class="nav-item selected">
                        <a class="nav-link pl-0" href="#"><i class="fa fa-mountain fa-fw"></i> <span>Enquire Transaction Records</span> </a>
                        
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link pl-0" href="#"><i class="fa fa-book fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0" href="#"><i class="fa fa-heart codeply fa-fw"></i> <span class="d-none d-md-inline">Codeply</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0" href="#"><i class="fa fa-star codeply fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0" href="#"><i class="fa fa-star fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                    </li>
                </ul>
            </div>
        </nav> -->

                <div class="vertical-menu">
                    <a routerLink="dashboard" routerLinkActive #rlb="routerLinkActive"
                        [ngClass]="rlb.isActive ? 'active' : ''">Dashboard</a>
                    <a href="#">Manage CSB</a>
                    <a href="#">Manage SEP</a>
                    <a href="#">Manage Digital Forms</a>
                    <a routerLink="manageParameter" routerLinkActive="active">Manage CAYE Parameters</a>
                    <a routerLink="enquireTransaction" routerLinkActive #rla="routerLinkActive"
                        [ngClass]="rla.isActive ? 'active' : ''">Enquire Transaction Records</a>
                    <a routerLink="updateStatus" routerLinkActive="active">Update Transaction Status</a>
                    <a href="#">View CAYE Reports</a>
                    <a href="#">View Audit Trial</a>
                    <!-- <a href="#">Link 2</a>
                <a href="#">Link 3</a>
                <a href="#">Link 4</a> -->
                </div>
            </aside>
            <main class="col bg-faded py-3">
                <div class="page-title">
                    <div class="relative float-left">
                        <a class="fa fa-bell size">
                            <span class="fa fa-comment"></span>
                            <span class="num">2</span>
                        </a>
                    </div>

                    <!-- <i class="fa fa-bell-o" style="font-size: 20px; float: left;">
            </i><span class="badge badge-danger">2</span> --> <span style="padding-left: 17px;"> Your transaction ID CAYEADDCSN12335 has been refunded by
                    JASIMAH</span>
                </div>
                <hr>
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>