.page-title {
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-size: 14px;
    color: #4F8208;
    margin:5px 5px 5px 0px;
    position: relative;
    
}
.acc-no{
    font-style:normal;
    font-weight:normal;
    margin-left: 5px;
}
hr {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.badge{
    padding: 3px 5px 2px;
    top: 8px;
    right: 5px;
    display: inline-block;
    min-width: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
}
.badge-danger {
    background-color: #db5565;
}
.left-bar {
    background-color: #ecebeb;
    color: #000;
}
.left-header {
    background-color: #4F8208;
    padding: 8px;
    color: #fff;
    /* height: 33px; */
    text-align: center;
}
.left-user-details {
    background-color: rgb(88, 87, 87);
    padding: 8px;
    color: #fff;
    overflow: hidden;
}

  
  .vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
   
    border-left-style: solid;
    border-left-color: #4F8208;
    color: #4F8208;
    font-weight: bold;
    line-height: 13px;
    
  }

  .fa-fw {
    font-size: 3rem;
    
  }

  a.fa-bell-o {
    position: relative;
    font-size: 2em;
    color: grey;
    cursor: pointer;
  }
  span.fa-comment {
    position: absolute;
    font-size: 16px;
    top: -10px;
    color: #4F8208;
    right: -9px;
  }
  span.num {
    position: absolute;
    font-size: 9px;
    top: -7px;
    color: #fff;
    right: -3px;
  }
.fa-bell.size{
  font-size: 22px;
}
