<footer class="sgds-footer top-section margin--top--lg">
  <div class="sgds-container">
    <div class="row">
      <div class="col header">
        <h5 class="sub-header has-text-white"><b>CPF Board</b></h5>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul>


          <li><a class="is-inline-block-desktop-only" href="http://www.cpf.gov.sg/careers/index.asp" title="Join Us" target="_self">Join Us</a></li>
          <li><a class="is-inline-block-desktop-only" href="https://test-eservices.apps.cpfb.gov.sg/Members/others/member-pages/useful-Links"
              title="Useful Links" target="_self">Useful Links</a></li>
          <li><a class="is-inline-block-desktop-only" href="https://test-eservices.apps.cpfb.gov.sg/Members/Others/member-pages/sitemap"
              title="Sitemap" target="_self">Sitemap</a></li>

        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col is-right-desktop-only">
        <ul>
          <li><a class="is-inline-block-desktop-only" href="https://test-eservices.apps.cpfb.gov.sg/Members/contact" title="Contact Us"
              target="_self">Contact Us</a></li>
          <li><a class="is-inline-block-desktop-only" href="https://test-eservices.apps.cpfb.gov.sg/eSvc/Web2/PortalServices/FeedbackSubscription/Index"
              title="Feedback" target="_self">Feedback</a></li>
          <li><a class="is-inline-block-desktop-only" href="https://test-eservices.apps.cpfb.gov.sg/Members/FAQ" title="FAQ"
              target="_self">FAQ</a></li>






          <li class="is-inline-block-desktop-only">
            <a href="https://www.facebook.com/CPFBoard" target="_blank" title="CPF Board official Facebook" class="social-link padding--right"
              rel="noreferrer"><span class="sgds-icon sgds-icon-facebook is-size-4"></span></a>
            <a href="https://www.instagram.com/cpf_board/" target="_blank" title="CPF Board official Instagram" class="social-link padding--right"
              rel="noreferrer"><span class="sgds-icon sgds-icon-instagram is-size-4"></span></a>
            <a href="https://www.youtube.com/user/CPFvideos" title="CPF Board official YouTube" target="_blank" class="social-link padding--right"
              rel="noreferrer"><span class="sgds-icon sgds-icon-youtube is-size-4"></span></a>
          </li>

        </ul>
      </div>
    </div>
    <div class="row is-flexable is-vcentered dropdown-divider">
      <div class="col">
        <ul>
          <li><a href="https://test-eservices.apps.cpfb.gov.sg/Members/others/member-pages/Privacy-statement" target="_blank">Privacy Statement</a></li>
          <li><a href="https://test-eservices.apps.cpfb.gov.sg/Members/others/member-pages/terms-of-use" target="_blank">Terms of Use</a></li>
          <li>
            <a href="https://test-eservices.apps.cpfb.gov.sg/Members/others/member-pages/best-security-practices" target="_blank">Security Best Practices</a>
          </li>
        </ul>
      </div>
      <div class="col-1 has-text-right-desktop has-text-right-tablet has-text-left-mobile">
        <p> © 2019 Central Provident Fund Board | Last Updated on 2019</p>
      </div>
    </div>
  </div>
</footer>