<div class="cpf-bg-header">
<div class="masthead-container hidden-print" id="navbar">
  <div class="sgds-masthead">
    <div class="sgds-container">
      <div class="row is-reduced is-masthead">
        <div class="col has-text-centered-touch">
          <a href="https://www.gov.sg/" target="_blank">
            <span class="sgds-icon sgds-icon-sg-crest is-size-4"></span>
            <span class="is-text">A Singapore Government Agency Website</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar is-transparent">
    <div class="sgds-container">
      <div class="navbar-brand">
        <a class="navbar-item" id="idCpfLogo" title="Central Provident Fund Board" href="https://test-eservices.apps.cpfb.gov.sg/Members">
          <img src="./assets/img/logo-CPF-web.png" alt="CPF Board">
        </a>

        <div class="navbar-item sgds-dropdown is-hidden-desktop" title="Select user portal" style="margin-left: auto">
<div class="sgds-dropdown-trigger">
  <button class="sgds-button is-white is-medium" aria-haspopup="true" aria-controls="sgds-dropdown-menu">
                            <span class="icon">
                                <span class="sgds-icon sgds-icon-person" style="color: rgb(79, 130, 8);"></span>
</span>
</button>
</div>
<div class="sgds-dropdown-menu" id="sgds-dropdown-menu" role="menu">
  <div class="sgds-dropdown-content">
    <a href="https://test-eservices.apps.cpfb.gov.sg/eSvc/Web2/PortalServices/CpfMemberPortalServices#" class="sgds-dropdown-item is-active">Member</a>
    <a href="https://test-eservices.apps.cpfb.gov.sg/eSvc/Web2/PortalServices/CpfMemberPortalServices#" class="sgds-dropdown-item">Employer</a>
    <a href="https://test-eservices.apps.cpfb.gov.sg/eSvc/Web2/PortalServices/CpfMemberPortalServices#" class="sgds-dropdown-item">Business Partner</a>
  </div>
</div>
</div>

<div class="navbar-burger burger is-active" data-target="mainnav-4" title="Main navigation menu" style="margin-left: 0px">
<span></span>
<span></span>
<span></span>
</div>
</div>
<div id="mainnav-4" class="navbar-menu is-active">
  <div class="navbar-item is-hidden-desktop">
    <hr class="is-marginless">
    <form action="https://test-eservices.apps.cpfb.gov.sg/eSvc/Web2/" method="get" novalidate="novalidate">
      <div class="field has-addons padding--sm">
        <div class="control has-icons-left is-expanded">
          <input class="input is-fullwidth is-borderless is-shadowless" type="text" placeholder="What are you looking for?" id="txtSearchMini"
            name="query" autocomplete="off">
          <span class="icon is-medium is-left">
                                    <i class="sgds-icon sgds-icon-search"></i>
                                </span>
        </div>
        <div class="control" title="Submit search query" style="padding-top: 5px">
<button type="button" id="btnSearchMini" class="sgds-button is-small is-primary has-text-white">SEARCH</button>
</div>
</div>
</form>
<hr class="is-marginless">
</div>




<a class="navbar-item is-uppercase" href="https://test-eservices.apps.cpfb.gov.sg/Members/Schemes" title="CPF Schemes" target="_self">
                                                Employer Guide
                                            </a>
<a class="navbar-item is-uppercase" href="https://test-eservices.apps.cpfb.gov.sg/Members/Tools" title="Tools" target="_self">
                                                Tools
                                            </a>
<a class="navbar-item is-uppercase" href="https://test-eservices.apps.cpfb.gov.sg/Members/Services" title="Services" target="_self">
                                                Services
                                            </a>


<hr class="is-marginless is-hidden-desktop">
<a class="navbar-item is-hidden-desktop" href="https://test-eservices.apps.cpfb.gov.sg/eSvc/Web2/WebBase/LogOff?fromCI=False"
  title="Logout from eServices" id="btnLogOff" target="_top" onclick="pvpClearSession();">Logout from eServices</a>
<script type="text/javascript">
  function pvpClearSession() {
    if (localStorage.getItem("pvpPollTime") != null) {
      localStorage.removeItem("pvpPollTime");

    }
    if (localStorage.getItem("pvpSessionID") != null) {
      localStorage.removeItem("pvpSessionID");
    }
  }
</script>
</div>

<div class="navbar-item is-hidden-touch" title="Login to eServices">
  <a class="navbar-item" href="https://test-eservices.apps.cpfb.gov.sg/eSvc/Web2/WebBase/LogOff?fromCI=False" title="" id="btnLogOff"
    target="_top" onclick="pvpClearSession();">Logout</a>
<script type="text/javascript">
                           function pvpClearSession() {
                             if (localStorage.getItem("pvpPollTime") != null) {
                               localStorage.removeItem("pvpPollTime");

                             }
                             if (localStorage.getItem("pvpSessionID") != null) {
                               localStorage.removeItem("pvpSessionID");
                             }
                           }
</script>
</div>

<div class="navbar-item sgds-dropdown is-hidden-touch" title="Select user portal" style="margin-left: auto">
<div class="sgds-dropdown-trigger">
  <button class="sgds-button is-white is-medium" aria-haspopup="true" aria-controls="sgds-dropdown-menu">
                        <span class="icon">
                            <span class="sgds-icon sgds-icon-person" style="color: rgb(79, 130, 8);"></span>
</span>
</button>
</div>
<div class="sgds-dropdown-menu" id="sgds-dropdown-menu" role="menu">
  <div class="sgds-dropdown-content">
    <a href="https://test-eservices.apps.cpfb.gov.sg/eSvc/Web2/PortalServices/CpfMemberPortalServices#" class="sgds-dropdown-item is-active">Member</a>
    <a href="https://test-eservices.apps.cpfb.gov.sg/eSvc/Web2/PortalServices/CpfMemberPortalServices#" class="sgds-dropdown-item">Employer</a>
    <a href="https://test-eservices.apps.cpfb.gov.sg/eSvc/Web2/PortalServices/CpfMemberPortalServices#" class="sgds-dropdown-item">Business Partner</a>
  </div>
</div>
</div>

<div class="navbar-end is-hidden-touch">
  <div class="navbar-item" title="Search within CPF">
    <a class="sgds-button is-text is-large" style="text-decoration: none" id="search-activate">
<span class="sgds-icon sgds-icon-search is-size-4"></span>
</a>
</div>
</div>
</div>
</nav>
</div>
</div>