
<div  class="dialog-head col-12 float-left">
    <h1 class="dia-head">Update Transaction Status</h1>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    <span class="tag">{{dialogTransNo}}</span>
</div>

<div  class="body dialog-body float-left">

    <div class="col-12 no-pad float-left label-data mt-3">
        <label for="curStat" class="w-100 mb-0 ">Current Status</label>
        <span class="w-100 float-left ellipses " id="curStat" title="{{dialogStatus}}">{{dialogStatus}}</span>
    </div>
    <div class="col-6 no-pad float-left label-data">
        <label for="validationTooltip03">New Status</label>
        <select class="form-control" id="sel1" [(ngModel)]="newStatus" [value]="0">
            <option value="0">Select</option>
            <option *ngFor="let stat of newStatusArr">{{stat}}</option>
        </select>
    </div>
    <div class="col-12 no-pad float-left label-data">
        <label for="reas" class="w-100 mb-0 ">Reason</label>
        <textarea name="reason" id="reas" cols="10" rows="4" class="form-control float-left w-100"
            placeholder="Type reason for update" [(ngModel)]="reason"></textarea>
    </div>


    <div class="float-left no_pad">
        <button type="button" class="btn custom-btn nxt-btn success"
            (click)="submit(newStatus, reason)">Submit</button>
        <button type="button" class="btn custom-btn nxt-btn mr-1 back"
            (click)="close()" >Back</button>
    </div>
</div>