<div class="dialog-head col-12 float-left">
    <h1 class="dia-head">View Transaction</h1>
    <button type="button" class="close pull-right" aria-label="Close" mat-dialog-close>
        <span aria-hidden="true">&times;</span>
    </button>
    <span class="tag"><b>{{dialogText}}</b></span>
</div>

<div class="body dialog-body float-left">
    <div class="float-left col-12">
        <h2 class="float-left mt-3">{{dialogType}}</h2>
        <span class="link float-right mt-3" role="link">Download PDF</span>
    </div>


    <div class="col-4 float-left label-data" *ngFor="let transHis of transactions; let i=index">
        <label for="subNo{{i}}" class="w-100 mb-0 ">{{transHis.label}}</label>
        <span class="w-100 float-left ellipses " id="subNo{{i}}" title="{{transHis.value}}">{{transHis.value}}</span>
    </div>
    <!-- <div class="col-4 float-left">
        <label for="subNo">CPF Submission No.</label>
        <span>1992-12345-MSE-01</span>
    </div>
    <div class="col-4 float-left">
        <label for="subNo">CPF Submission No.</label>
        <span>1992-12345-MSE-01</span>
    </div> -->
    <div class="succ-payment float-left col-12 mt-3">
        <div class="accordion float-left " (click)="accorExpand = !accorExpand">
            <h3 class="float-left">Successfull Payment</h3>
            <span class="btn-icon float-right"> <i *ngIf="!accorExpand">+</i> <i *ngIf="accorExpand">-</i> </span>
        </div>
        <div class="float-left w-100 cust-table sticky-table" *ngIf="accorExpand">
            <table class="w-100">

                <tr class="t-head">
                    <th>S/N</th>
                    <th>NRIC</th>
                    <th>Gross Service Fee</th>
                    <th>Medi Save Payable <span role="button" class="btn-info" click="info()">?</span></th>
                    <th>Net Service Fee<span role="button" class="btn-info" click="info()">?</span></th>
                    <th style="width: 205px">Invoice Number</th>
                </tr>
                <tr *ngFor="let succ of succPayment; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{succ.nric}}</td>
                    <td>{{succ.grossFee}}</td>
                    <td>{{succ.medFee}}</td>
                    <td>{{succ.netFee}}</td>
                    <td>{{succ.invoice}}</td>
                </tr>
                <tr class="footer">
                    <td colspan="2">Total</td>
                    <td>$ 400</td>
                    <td>$ 20</td>
                    <td>$ 200</td>
                    <td>Record {{succPayment.length}}</td>
                </tr>

            </table>
        </div>
    </div>

    <div class="succ-payment float-left col-12 mt-3">
        <div class="accordion float-left " (click)="accorReject = !accorReject">
            <h3 class="float-left">Rejected Payment</h3>
            <span class="btn-icon float-right"> <i *ngIf="!accorReject">+</i> <i *ngIf="accorReject">-</i> </span>
        </div>
        <div class="float-left w-100 sticky-table cust-table" *ngIf="accorReject">
            <table class="w-100">
                <tr class="t-head">
                    <th>S/N</th>
                    <th>NRIC</th>
                    <th>Gross Service Fee</th>
                    <th>Medi Save Payable <span role="button" class="btn-info" click="info()">?</span></th>
                    <th>Net Service Fee<span role="button" class="btn-info" click="info()">?</span></th>
                    <th style="width: 205px">Invoice Number</th>
                </tr>
                <tr *ngFor="let succ of succPayment; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{succ.nric}}</td>
                    <td>{{succ.grossFee}}</td>
                    <td>{{succ.medFee}}</td>
                    <td>{{succ.netFee}}</td>
                    <td>{{succ.invoice}}
                        <span class="w-100 float-left"><b>Rejected </b> {{succ.reason}}</span></td>
                </tr>
                <tr class="footer">
                    <td colspan="2">Total</td>
                    <td>$ 400</td>
                    <td>$ 20</td>
                    <td>$ 200</td>
                    <td>Record {{succPayment.length}}</td>
                </tr>

            </table>
        </div>
    </div>
</div>