<div class="draft-container">
  <div class="drafts-sections">
    <div class="drafts-title">Enquire Transaction Details</div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <mat-card>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="validationTooltip03">Transaction Type</label>
              <select class="form-control" id="sel1" [(ngModel)]="transType" [value]="0">
                <option value="0" selected>All</option>
                <!-- <option *ngFor="let trns of people">{{trns.transactionType}}</option> -->
                <option *ngFor="let type of transTypeArr">{{type}}</option>

              </select>
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationTooltip04">Status</label>
              <select class="form-control" id="sel1" [(ngModel)]="status" [value]="0">
                <option value="0">All</option>
                <!-- <option *ngFor="let sts of people">{{sts.status}}</option> -->
                <option *ngFor="let stat of distinct">{{stat}}</option>
              </select>

            </div>
            <div class="col-md-4 mb-3">
              <label class="col-12 no_pad float-left">Period</label>
              <div class="float-left d-flex">
                <div class="no_pad float-left cust-cal">
                  <input matInput [matDatepicker]="picker" placeholder="DD/MM/YYYY" [(ngModel)]="startDate"
                    (click)="picker.open()">
                  <mat-datepicker-toggle class="icon-area" matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </div>
                <span class="float-left pad-5">to</span>
                <div class="no_pad float-left cust-cal">
                  <input matInput [matDatepicker]="picker2" placeholder="DD/MM/YYYY" [(ngModel)]="endDate"
                    (click)="picker2.open()">
                  <mat-datepicker-toggle matSuffix class="icon-area" [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </div>
              </div>


            </div>

          </div>
          <label class="control-label" style="font-weight:normal;font-size: 13px;">Please enter at least one search
            criteria below</label>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="Entity" class="w-100">Entity Name</label>
              <!-- <select class="form-control" id="sel1">
                <option>Nayang Polytechnic</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select> -->
              <input id="Entity" type="text" class="form-control" name="{{peopleFilter}}"
                placeholder="Search entity name/UEN" [(ngModel)]="peopleFilter" />
            </div>
            <div class="col-md-3 mb-3">
              <label for="validationTooltip04">NRIC</label>
              <input type="text" class="form-control" id="validationTooltip04" placeholder="S/TXXXXA" required>
              <div class="invalid-tooltip">
                Please provide a valid state.
              </div>
            </div>
            <div class="col-md-5 mb-3 btn-block pull-right">
              <button type="button" class="btn custom-btn nxt-btn thisBtn"
                (click)="filterDate(startDate, endDate); showTransaction = true">Search</button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>


  </div>

  <div class="enquireTransactionList cust-table" *ngIf="showTransaction">
    <label>Transaction Records showing Nayang Polytechnic - </label><span> ({{dateStart}} - {{dateTo}})</span>
    <!-- <ag-grid-angular style="width: 100%;
    height: 250px;" class="ag-theme-material" [rowData]="rowData | filter : entityName" [columnDefs]="columnDefs">
    </ag-grid-angular> -->


    <table style="width:100%">
      <thead class="bg_th">
        <tr>
          <th>Transaction No.</th>
          <th>Transaction Type</th>
          <th>Date</th>
          <th>Status</th>
          <th>Verifier</th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="let person of people | filter : peopleFilter  | filter : transType | filter : status | filter: retArray">
          <!-- <td class="link" (click)="openPop(person.transactionNo, person.transactionType)">{{person.transactionNo}}</td> -->
          <td  (click)="openPop(person.transactionNo, person.transactionType)" ><span class="link"> {{person.transactionNo}}</span><span  style="color:black; "> {{person.desc}}</span></td>
          <td>{{person.transactionType}}</td>
          <td>{{person.date}}</td>
          <td>{{person.status}}</td>
          <td>{{person.verifier}}</td>
        </tr>
      </tbody>


    </table>
  </div>
</div>