@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.ag-header-cell {
  background-color: #c9c3c3;
  color: #504c4c;
  font-family: Arial;
  font-style: normal;
}
.ag-row-even {
  background-color: #f2f2f2;
}

.ag-row-odd {
  background-color: #fff;
}

.ag-theme-material .ag-header {
  font-size: 15px;
}

.ag-theme-material .ag-cell {
  color: #504c4c;
  font-size: 14px;
  font-family: Arial;
  font-style: normal;
}
/* rickthegenius starts */
.no_pad{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.ellipses {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.font-12 {
  font-size: 12px;
}
/* mat-Calander CSS starts*/
.cust-table table thead tr{
  background: #d8d8d8;
}
.cust-table table tr:nth-child(odd) {
  background-color: #f9f9f9 ;
}
.cust-cal{
  position: relative;
}
.cust-cal input {
  border: 1.5px solid #ccc;
  height: 38px;
  margin-top: 2px;
  width: 100%;
  border-radius: 4px;
  padding: 0 5px;
  font-size: 12px;
}
.cust-cal .icon-area {
  position: absolute;
  right: 0px;
  background: #ecebeb;
  height: 38px;
  border: 2px solid #ccc;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.cust-cal .mat-button-wrapper {
  top: -2px;
  position: relative;
}
.cust-cal .mat-icon-button {
  height: 100% !important;
}
/* Calander css ends */
/* Generic CSS for mat-dialog starts */
.mat-dialog-container {
  padding: 0 !important;
}
.dialog-body {
  padding: 0px 20px 20px;
}
.dialog-head {
  padding: 10px 20px !important;
  background: #f3f3f3;
}
input, select, textarea{
  border: 1.5px solid #ccc !important;
  font-size: 14px;
  padding: 0 8px !important;
  background: #fff;
}
button.close{
  position: relative;
  top: -35px;
  right: -10px;
  font-size: 30px;
  font-weight: normal;
  outline: none !important;
}
.relative{
  position: relative;
}
/* Generic CSS for mat-dialog ends */
/* rickthegenius ends */
.mat-card {
  background: #ecebeb;
  box-shadow: none !important;
}